@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0F5FF;
  --foreground: #171717;
  --green: #A1BBA2;
  --lightpink: #F7E5E3;
  --lightbrown: #C3A59C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
